# Association Rules for Market Basket Analysis

* Objective:
To identify interesting associations or relationships between products in the retail dataset using association rule mining techniques. The goal is to understand customer behavior and identify frequently co-purchased items.

In [3]:
# Install required library
!pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\user\appdata\roaming\python\python312\site-packages (0.23.3)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from mlxtend) (2.2.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [4]:
# Import Libraries
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import association_rules, apriori
from mlxtend.preprocessing import TransactionEncoder
import warnings
warnings.filterwarnings('ignore')

# Dataset

In [6]:
df = pd.read_excel("https://raw.githubusercontent.com/snehuuu28/Excelr_Data_Science/main/Assignments/Assignment_10/Online%20retail.xlsx", header=None)

# Data Preprocessing

In [8]:
# Rename the column to 'Products' for better readability
df.columns = ['Products']

In [9]:
# Display the structure and summary of the dataset
print("Dataset Information:")
df.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Products  7501 non-null   object
dtypes: object(1)
memory usage: 58.7+ KB

In [10]:
print("\nMissing Values Count:")
print(df.isnull().sum())

Missing Values Count:
Products    0
dtype: int64

In [11]:
print("\nDataset Summary:")
print(df.describe())

Dataset Summary:
       Products
count      7501
unique     5176
top     cookies
freq        223

In [12]:
# Check a sample row for verification
print("\nSample Row:")
print(df.iloc[1])

Sample Row:
Products    burgers,meatballs,eggs
Name: 1, dtype: object

In [13]:
# Split the 'Products' column into individual items
# Each row is a transaction, with items separated by commas
df = df['Products'].apply(lambda x: x.split(','))

In [14]:
# Display the transformed transactions
print("\nTransformed Transactions (First 5 rows):")
print(df.head())

Transformed Transactions (First 5 rows):
0    [shrimp, almonds, avocado, vegetables mix, gre...
1                           [burgers, meatballs, eggs]
2                                            [chutney]
3                                    [turkey, avocado]
4    [mineral water, milk, energy bar, whole wheat ...
Name: Products, dtype: object

In [15]:
# Encode the transactional data using TransactionEncoder
te = TransactionEncoder()
encoded_data = te.fit_transform(df)
encoded_df = pd.DataFrame(encoded_data, columns=te.columns_)

In [16]:
# Replace True/False with 1/0 for numerical processing
encoded_df.replace([True, False], [1, 0], inplace=True)

In [17]:
# Display the shape and a preview of the encoded dataframe
print("\nEncoded DataFrame Shape:")
print(encoded_df.shape)

Encoded DataFrame Shape:
(7501, 120)

In [18]:
print("\nEncoded DataFrame Preview (First 5 rows):")
encoded_df.head()

Encoded DataFrame Preview (First 5 rows):

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

# Association Rule Mining

In [20]:
# Apply Apriori Algorithm with a lower support threshold of 0.05 and allowing larger itemsets
frequent_itemsets = apriori(encoded_df, min_support=0.05, use_colnames=True, max_len=3)

# Display frequent itemsets
print("\nFrequent Itemsets:")
print(frequent_itemsets.head())

# Ensure itemsets are in frozenset format (necessary for association_rules)
frequent_itemsets['itemsets'] = frequent_itemsets['itemsets'].apply(frozenset)

# Number of itemsets in the frequent_itemsets
num_itemsets = len(frequent_itemsets)

# Generate Association Rules with Lift as the metric and lower confidence threshold (e.g., 0.3)
if not frequent_itemsets.empty:
    rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1, num_itemsets=num_itemsets)

    # Sort rules by lift for better interpretation
    sorted_rules = rules.sort_values(by='lift', ascending=False)

    # Display the sorted rules
    print("\nSorted Association Rules (Top 5):")
    print(sorted_rules.head())

    # Provide insights from the rules
    print("\nInsights from Association Rules:")
    if not sorted_rules.empty:
        for index, rule in sorted_rules.head(5).iterrows():
            print(f"Rule: If a customer buys {rule['antecedents']}, they are likely to buy {rule['consequents']}.")
            print(f" - Support: {rule['support']:.2f}, Confidence: {rule['confidence']:.2f}, Lift: {rule['lift']:.2f}\n")
    else:
        print("No significant rules found. Adjust thresholds for better results.")
else:
    print("No frequent itemsets found. Adjust the minimum support threshold.")

Frequent Itemsets:
    support     itemsets
0  0.087188    (burgers)
1  0.081056       (cake)
2  0.059992    (chicken)
3  0.163845  (chocolate)
4  0.080389    (cookies)

Sorted Association Rules (Top 5):
       antecedents      consequents  antecedent support  consequent support  \
4  (mineral water)      (spaghetti)            0.238368            0.174110
5      (spaghetti)  (mineral water)            0.174110            0.238368
0      (chocolate)  (mineral water)            0.163845            0.238368
1  (mineral water)      (chocolate)            0.238368            0.163845
2           (eggs)  (mineral water)            0.179709            0.238368

    support  confidence      lift  representativity  leverage  conviction  \
4  0.059725    0.250559  1.439085               1.0  0.018223    1.102008
5  0.059725    0.343032  1.439085               1.0  0.018223    1.159314
0  0.052660    0.321400  1.348332               1.0  0.013604    1.122357
1  0.052660    0.220917  1.348332               1.0  0.013604    1.073256
2  0.050927    0.283383  1.188845               1.0  0.008090    1.062815

   zhangs_metric   jaccard  certainty  kulczynski
4       0.400606  0.169312   0.092566    0.296796
5       0.369437  0.169312   0.137421    0.296796
0       0.308965  0.150648   0.109018    0.271158
1       0.339197  0.150648   0.068256    0.271158
2       0.193648  0.138707   0.059103    0.248515

Insights from Association Rules:
Rule: If a customer buys frozenset({'mineral water'}), they are likely to buy frozenset({'spaghetti'}).
 - Support: 0.06, Confidence: 0.25, Lift: 1.44

Rule: If a customer buys frozenset({'spaghetti'}), they are likely to buy frozenset({'mineral water'}).
 - Support: 0.06, Confidence: 0.34, Lift: 1.44

Rule: If a customer buys frozenset({'chocolate'}), they are likely to buy frozenset({'mineral water'}).
 - Support: 0.05, Confidence: 0.32, Lift: 1.35

Rule: If a customer buys frozenset({'mineral water'}), they are likely to buy frozenset({'chocolate'}).
 - Support: 0.05, Confidence: 0.22, Lift: 1.35

Rule: If a customer buys frozenset({'eggs'}), they are likely to buy frozenset({'mineral water'}).
 - Support: 0.05, Confidence: 0.28, Lift: 1.19

# Analysis and Interpretation:

* Spaghetti and Mineral Water: The top two rules suggest that spaghetti and mineral water are frequently bought together. This could be due to customer preferences for pairing certain foods (e.g., pasta and drinks) during a shopping trip.
  
* Chocolate and Mineral Water: There is also a relationship between chocolate and mineral water, which may indicate that customers often buy chocolate and drinks in similar shopping baskets.
  
* Eggs and Mineral Water: The relationship between eggs and mineral water is also interesting but less strong than the others. It could reflect broader customer shopping patterns, where mineral water is a staple that gets bought along with other products.